<div class="formgrid grid">
    <div class="col-6">
      <p-panel header="Reactive Forms">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-fluid">
          <div class="field">
            <label>Name:</label>
            <input type="text" pInputText formControlName="name"/>
            <small *ngIf="form.controls['name'].errors && form.controls['name'].touched">
              Tiene errores
            </small>
          </div>
          <div class="field">
            <label>Age:</label>
            <p-inputNumber inputId="age"
                           formControlName="age"
                           [showButtons]="true"
                           [min]="0"
                           [step]="5"
            ></p-inputNumber>
          </div>
          <div class="field">
            <label>Birthdate:</label>
            <p-calendar inputId="birthdate"
                        formControlName="birthdate"
                        [showIcon]="true"
            ></p-calendar>
          </div>
          <div class="field">
            <label>State:</label>
            <p-inputSwitch inputId="state"
                           formControlName="state"
            ></p-inputSwitch>
          </div>
          <div class="field">
            <button pButton type="submit" label="Guardar"></button>
          </div>
        </form>
      </p-panel>
    </div>
  </div>
  {{form.value|json}}
  